/* html{
    margin: 0;
    padding: 0;
} */
body{
    background-color: rgb(215, 223, 226);
    color: white;
    font-family: poppinsregular;
    /* max-width: 1200px; */
    margin: 0;
    padding: 0;
}

header{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

input{
    display: flex;
    height: 35px;
    width: 60%;
    background-color: rgb(215, 223, 226);
    border: 0.5px;
}

#botao2{
    height: 35px;
    width: 10%;
}


#botao3{
    height: 35px;
    width: 10%;
}